/.settings
.classpath
.factorypath
.project
pom.xml
/.idea
/target
./target
/settings
/target
/.idea
/.idea
.*
!/.gitignore
maven.CI.yml
target
idea
.idea
.github
.gitignore
.target
.idea
/target
.github
/github
/.github
